.id1{
    width: 50%;
    height: 20%;
    background-color: red;
    margin-left: 80px;
}
.id2{
    width: 50%;
    height: 3%;
    background-color: rgb(0, 128, 47);
    margin-left: 80px;
}
.id3{
                
    width:10%;
    height:80%;
    margin-left: 80px;
    display: inline-block;
    background-color: blue;
}
.id4{
    
    width:30%;
    height:80%;
    margin-left: 80px;
    display: inline-block;  
    margin-top:-2px;
    margin-left: -6px;
    background-color: yellow;
    padding-right:2.5px;
}

.id5{
    
    width:10%;
    height:80%;
    margin-left: 80px;
    display: inline-block;
    margin-left: -4px;
    margin-top: -8px; 
    background-color: aqua;   
}

.id6{
    
    width:50%;
    height:20%;
    margin-left: 80px;
    margin-top:-5px;
    background-color: orangered;
}